
.actions {
    display: block;
    justify-content: flex-end;
    gap: 1rem;

}

.actions button {
    font: inherit;
    color: #ffffff;
    cursor: pointer;
    background-color: #000000;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
    background-color: #1e7be7;
}

.actions input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
}